<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/js/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/js/keymaster.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/token-input.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

<div class="row-fluid">
  <div class="span7">
    <img src="{{ path }}" />
  </div>
  <div class="span5">
    <a id="lnk-next" href="{{ next }}"><div class="btn">Next</div></a>
    {{ nb }}
    <input type="text" id="demo-input-pre-populated" name="blah" />
  </div>
</div>

{% autoescape false %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#demo-input-pre-populated").tokenInput("/index.php/tags", {
      prePopulate: {{ tags|json_encode() }},
      preventDuplicates: true,
      allowCreation: true,
      onAdd: function () { $.post('/index.php/photo/{{ id }}/update', { tags: $(this).val() }); },
      onDelete: function () { $.post('/index.php/photo/{{ id }}/update', { tags: $(this).val() }); }
    });
 
    key.filter = function () { return true; }

    key('shift+n, end', function(event, handler){
      window.location = $('#lnk-next').attr('href');
    });
  });

  $(window).load(function() {
    $('#demo-input-pre-populated').focus();
  });
 </script>
{% endautoescape %}

