{% extends 'base.twig' %}

{% block javascript %}
<script type="text/javascript" src="/js/{{ jsfile }}"></script>

  {% autoescape false %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#demo-input-pre-populated").tokenInput("/index.php/tags", {
        prePopulate: {{ tags|json_encode() }},
        preventDuplicates: true,
        allowFreeTagging: true,
        onAdd: function () { $.post('/index.php/photo/{{ id }}/update', { tags: $(this).val() }); },
        onDelete: function () { $.post('/index.php/photo/{{ id }}/update', { tags: $(this).val() }); }
      }).focus();
   
      key.filter = function () { return true; };
  
      key('end', function(event, handler){
        window.location = $('#lnk-next').attr('href');
      });
    });
  
    $(window).load(function() {
      $('#demo-input-pre-populated').focus();
    });
   </script>
  {% endautoescape %}
{% endblock %}


{% block body %}
<div class="row-fluid">
  <div class="span7">
    <img src="{{ path }}" /><br />
    Date Taken : {{ date|date("m/d/Y") }}<br />
    Title : {{ title }}
  </div>
  <div class="span5">
    <a href="{{ app.url_generator.generate('logout') }}" >Logout</a><br />
    <a id="lnk-next" href="{{ next }}"><div class="btn">Next</div></a>
    {{ nb }}
    <input type="text" id="demo-input-pre-populated" name="blah" />
  </div>
</div>
{% endblock %}

